a{
  text-decoration: none !important;
  color: var(--gray-400) !important;
}
.cursor{
  cursor:pointer;
}
.desktop-child {
  position: absolute;
  top: 80px;
  left: 0;
  background-color: var(--secondary-blue-base-light);
  width: 100%;
  height: 674px;
}
.desktop-item,
.group-child {
  position: absolute;
  top: 219px;
  left: 798px;
  border-radius: 50%;
  background-color: var(--secondary-blue-medium);
  width: 464px;
  height: 464px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: 9.63px;
  background-color: var(--shades-white);
  box-shadow: 0 10.697674751281738px 16.05px -3.21px rgba(16, 24, 40, 0.1),
    0 4.279069900512695px 6.42px -4.28px rgba(16, 24, 40, 0.1);
  width: 193.63px;
  height: 72.74px;
  opacity: 0.95;
}
.group-inner,
.group-item {
  position: absolute;
  top: 18.19px;
  left: 19.26px;
  border-radius: 995.25px;
  background-color: var(--color-silver);
  width: 147.44px;
  height: 7.97px;
}
.group-inner {
  top: 33.13px;
  width: 76.71px;
}
.rectangle-parent {
  position: absolute;
  top: 467px;
  left: 705px;
  width: 193.63px;
  height: 72.74px;
}
.cheerful-friendlylooking-femin-icon {
  position: absolute;
  top: 80px;
  left: 865px;
  width: 333px;
  height: 674px;
  object-fit: cover;
}
.logo-primary-icon {
  position: relative;
  width: 142px;
  height: 22.82px;
}
.text {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.button,
.button-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button {
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-down-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button-base1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.dropdown-header-navigation-tri,
.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dropdown-header-navigation-tri {
  flex-direction: column;
  padding: var(--padding-9xs) 0;
}
.navigation {
  flex-direction: row;
  gap: var(--gap-13xl);
}
.content {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
.container,
.content,
.header {
  display: flex;
  align-items: center;
}
.container {
  width: 1280px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  flex-direction: column;
  justify-content: center;
}
.contratar-servicios {
  font-family: GilroyBold;
  margin: 0;
}
.GilroyBold{
  font-family: GilroyBold;
}
.contratar-servicios-al-container {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 78px;
}
.en-service-24-container1 {
  line-break: anywhere;
  width: 100%;
}
.en-service-24-container {
  position: relative;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--text-xl-regular);
  color: var(--neutral-300);
  display: flex;
  align-items: center;
  width: 403px;
}
.mobile-app-store-badge,
.mobile-app-store-badge1 {
  position: relative;
  height: 44px;
  mix-blend-mode: normal;
}
.mobile-app-store-badge {
  border-radius: var(--br-8xs);
  width: 148.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.mobile-app-store-badge1 {
  border-radius: var(--br-6xs);
  width: 132px;
}
.contratar-servicios-al-instant-parent,
.mobile-app-store-badge-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.contratar-servicios-al-instant-parent {
  position: absolute;
  top: 216px;
  left: 166px;
  flex-direction: column;
  gap: var(--gap-5xl);
  font-size: 71.2px;
  color: var(--neutral-400);
  font-family: var(--font-gilroy);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9.63px;
  background-color: var(--primary-400);
  box-shadow: 0 10.697674751281738px 16.05px -3.21px rgba(16, 24, 40, 0.1),
    0 4.279069900512695px 6.42px -4.28px rgba(16, 24, 40, 0.1);
  width: 160.47px;
  height: 50.28px;
  opacity: 0.95;
}
.group-child1 {
  position: absolute;
  top: 18.19px;
  left: 32.09px;
  border-radius: 995.25px;
  background-color: #f2f4f6;
  width: 106.98px;
  height: 7.49px;
}
.rectangle-group {
  position: absolute;
  top: 554.72px;
  left: 809px;
  width: 160.47px;
  height: 50.28px;
}
.desktop-inner,
.group-child2 {
  position: absolute;
  top: 621.77px;
  left: 1071.58px;
  width: 250.84px;
  height: 85.81px;
}
.group-child2 {
  top: 0;
  left: 266.96px;
  border-radius: 10.01px;
  background-color: var(--shades-white);
  width: 266.96px;
  height: 74.25px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child3,
.group-child4,
.group-child5 {
  position: absolute;
  top: 17.52px;
  left: 60.06px;
  border-radius: var(--br-814xl-4);
  background-color: var(--color-silver);
  width: 123.47px;
  height: 6.67px;
}
.group-child4,
.group-child5 {
  top: 30.03px;
  width: 64.24px;
}
.group-child5 {
  top: 47.55px;
  left: 61.73px;
  background-color: var(--neutral-200);
  width: 60.06px;
  height: 13.35px;
}
.media-icon32pxfilleduser {
  position: absolute;
  height: 93.02%;
  width: 93.02%;
  top: 9.3%;
  right: 6.98%;
  bottom: -2.33%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.initials {
  position: absolute;
  top: calc(50% - 11.26px);
  left: calc(50% - 17.94px);
  line-height: 24px;
  font-weight: 500;
  display: none;
  width: 33.37px;
}
.avatar {
  position: absolute;
  height: 107.5%;
  width: 107.5%;
  top: -3.75%;
  right: -3.75%;
  bottom: -3.75%;
  left: -3.75%;
  border-radius: 83.42px;
  background-color: var(--neutral-200);
  border: 1.3px solid var(--shades-white);
  box-sizing: border-box;
  overflow: hidden;
}
.profile {
  position: absolute;
  top: 10.85px;
  left: 13.35px;
  width: 33.37px;
  height: 33.37px;
}
.dot-icon,
.media-iconunfilledcheveron {
  position: absolute;
  top: 50.89px;
  left: 66.74px;
  width: 6.67px;
  height: 6.67px;
  overflow: hidden;
}
.media-iconunfilledcheveron {
  top: 10.85px;
  left: 236.92px;
  width: 16.68px;
  height: 16.68px;
}
.group-child6 {
  position: absolute;
  top: 51.72px;
  left: 75.08px;
  border-radius: var(--br-814xl-4);
  background-color: var(--color-silver);
  width: 34.2px;
  height: 5.01px;
}
.rectangle-container {
  position: absolute;
  top: 360px;
  left: 1104px;
  width: 266.96px;
  height: 74.25px;
  text-align: center;
  color: var(--generic-black);
}
.heading,
.subheading {
  align-self: stretch;
  position: relative;
}
.subheading {
  line-height: 24px;
  font-weight: 600;
}
.heading {
  font-size: var(--font-size-31xl);
  letter-spacing: -0.02em;
  line-height: 60px;
  font-family: var(--font-gilroy);
  color: var(--gray-900);
}
.heading-and-subheading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.supporting-text {
  align-self: stretch;
  position: relative;
  font-size: var(--text-xl-regular-size);
  line-height: 30px;
  color: var(--color-darkslategray-100);
  display: none;
}
.container1,
.content1,
.heading-and-supporting-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.heading-and-supporting-text {
  width: 768px;
  gap: var(--gap-xl);
}
.container1,
.content1 {
  align-self: stretch;
}
.container1 {
  padding: 0 var(--padding-13xl);
}
.featured-icon {
  position: relative;
  border-radius: var(--br-9xl);
  width: 56px;
  height: 56px;
}
.supporting-text1,
.text4 {
  align-self: stretch;
  position: relative;
}
.text4 {
  line-height: 30px;
  font-weight: 500;
}
.supporting-text1 {
  font-size: var(--text-md-medium-size);
  line-height: 24px;
  color: var(--gray-500);
}
.text-and-supporting-text {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
}
.content2,
.feature-text,
.text-and-supporting-text {
  display: flex;
  justify-content: flex-start;
}
.feature-text {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
}
.content2 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 45px;
}
.container-parent,
.container2,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container2 {
  width: 100%;
  align-items: flex-start;
  padding: 0 45px;
  box-sizing: border-box;
  gap: var(--gap-45xl);
  font-size: var(--text-xl-regular-size);
  color: var(--gray-900);
}
.container-parent,
.frame-wrapper {
  align-items: center;
}
.container-parent {
  gap: var(--gap-21xl);
}
.frame-wrapper {
  width: 100%;
  padding: var(--padding-81xl) var(--padding-3xs);
  box-sizing: border-box;
}
.heading1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-31xl);
  letter-spacing: -0.02em;
  line-height: 60px;
  font-family: var(--font-gilroy);
}
.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.iphone-12-pro-mockup {
  position: absolute;
  top: 72.63px;
  left: calc(50% - 658.86px);
  width: 561.42px;
  height: 660.96px;
}
.iphone-12-pro-mockup1 {
  position: absolute;
  top: 2.63px;
  left: calc(50% - 432.86px);
  width: 453.46px;
  height: 648.82px;
}
.iphone-12-pro-mockup2 {
  position: absolute;
  top: 65.52px;
  left: calc(50% + 143.29px);
  width: 555.28px;
  height: 661.54px;
}
.iphone-12-pro-mockup3 {
  position: absolute;
  top: 9.63px;
  left: calc(50% + 13.41px);
  width: 445.13px;
  height: 646.43px;
}
.iphone-12-pro-mockup4 {
  position: absolute;
  top: -20.15px;
  left: calc(50% - 170.64px);
  width: 387.08px;
  height: 697.9px;
}
.bottom-bar-icon-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkorange);
  width: 3.75px;
  height: 3.75px;
  display: none;
}
.media-iconfilledhome {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.bottom-bar-icon,
.media-iconfilledhome-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-iconfilledhome-wrapper {
  border-radius: 749.25px;
  background-color: var(--neutral-400);
  flex-direction: row;
  padding: 1.5px var(--padding-4xs);
}
.bottom-bar-icon {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: 4.725491046905518px 0;
  gap: 2.36px;
}
.bottom-bar-icon-item {
  position: relative;
  border-radius: 50%;
  background-color: var(--secondary-red);
  width: 3.75px;
  height: 3.75px;
  display: none;
}
.solicitudes {
  position: relative;
  font-weight: 500;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bottom-bar-icon3 {
  flex: 1;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.725491046905518px 0;
  box-sizing: border-box;
  gap: 2.36px;
}
.bottom-bar-icon-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom-bar {
  position: absolute;
  top: 533px;
  left: calc(50% - 127.49px);
  border-radius: 7499.25px;
  background-color: var(--shades-white);
  box-shadow: var(--shadow-medium);
  border: 1.1px solid var(--neutral-200);
  box-sizing: border-box;
  width: 255px;
  height: 44.81px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3px var(--padding-4xs);
}
.iphone-12-pro-mockup-parent {
  position: relative;
  width: 1282.99px;
  height: 677.59px;
  text-align: left;
  font-size: var(--font-size-5xs-5);
  color: var(--neutral-300);
}
.frame-container,
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-div {
  gap: 90px;
}
.frame-container {
  background-color: var(--primary-400);
  width: 100%;
  padding: var(--padding-81xl) var(--padding-3xs);
  box-sizing: border-box;
  color: var(--shades-white);
}
.heading2,
.supporting-text8 {
  align-self: stretch;
  position: relative;
}
.heading2 {
  letter-spacing: -0.02em;
  line-height: 60px;
}
.supporting-text8 {
  font-size: var(--text-xl-regular-size);
  line-height: 30px;
  color: var(--gray-500);
  font-family: var(--text-xl-regular);
}
.label,
.text10 {
  position: relative;
}
.label {
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.text10 {
  flex: 1;
  line-height: 24px;
}
.content7 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.help-icon {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.hint-text,
.input {
  align-self: stretch;
  color: var(--gray-500);
}
.input {
  border-radius: var(--br-5xs);
  background-color: var(--shades-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--text-md-medium-size);
}
.hint-text {
  position: relative;
  line-height: 20px;
  display: none;
}
.input-field,
.input-field-base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field-base {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.input-field {
  width: 280px;
  height: 44px;
}
.button-base4,
.button4 {
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.button-base4 {
  background-color: var(--primary-400);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-400);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
}
.button4 {
  font-size: var(--text-md-medium-size);
  color: var(--shades-white);
}
.button4,
.content5,
.content6,
.email-capture {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-capture {
  flex-direction: row;
  gap: var(--gap-base);
  font-size: var(--text-sm-regular-size);
  color: var(--gray-700);
  font-family: var(--text-xl-regular);
}
.content5,
.content6 {
  flex-direction: column;
}
.content6 {
  align-self: stretch;
  height: 550px;
  gap: var(--gap-21xl);
}
.content5 {
  flex: 1;
}
.image-icon,
.image-icon1,
.image-icon2,
.image-icon3,
.image-icon4 {
  position: absolute;
  top: 0;
  left: calc(50% + 8px);
  border-radius: var(--br-5xs);
  width: 160px;
  height: 240px;
  overflow: hidden;
  object-fit: cover;
}
.image-icon1,
.image-icon2,
.image-icon3,
.image-icon4 {
  top: 256px;
  left: calc(50% + 96px);
  width: 192px;
  height: 128px;
}
.image-icon2,
.image-icon3,
.image-icon4 {
  left: calc(50% - 288px);
}
.image-icon3,
.image-icon4 {
  left: calc(50% - 80px);
  width: 160px;
  height: 240px;
}
.image-icon4 {
  top: 80px;
  left: calc(50% - 168px);
  height: 160px;
}
.contents {
  flex: 1;
  position: relative;
  height: 496px;
}
.container4 {
  width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
}
.frame-group,
.proveedor-section {
  display: flex;
  flex-direction: column;
}
.proveedor-section {
  background-color: var(--secondary-blue-base-light);
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 96px 0;
  box-sizing: border-box;
  text-align: left;
  font-size: 48px;
  color: var(--gray-900);
  font-family: var(--font-gilroy);
}
.frame-group {
  align-items: flex-start;
  justify-content: flex-start;
}
.heading3,
.supporting-text9 {
  position: relative;
  display: inline-block;
  width: 448px;
}
.heading3 {
  letter-spacing: -0.02em;
  line-height: 44px;
}
.supporting-text9 {
  font-size: var(--text-xl-regular-size);
  line-height: 30px;
  color: var(--gray-500);
  font-family: var(--text-xl-regular);
}
.heading-and-supporting-text3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.label1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.input-field3,
.input1,
.row {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.input1 {
  border-radius: var(--br-5xs);
  background-color: var(--shades-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-5xs);
  font-size: var(--text-md-medium-size);
  color: var(--gray-500);
}
.input-field3,
.row {
  align-items: flex-start;
}
.row {
  flex-direction: row;
  gap: var(--gap-13xl);
}
.input-field3 {
  flex-direction: column;
}
.dropdown-text {
  position: relative;
  line-height: 24px;
}
.chevron-down-icon2 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.dropdown,
.text-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown {
  align-self: stretch;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs)
    var(--padding-base);
}
.text-input {
  flex: 1;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs) 0;
  gap: var(--gap-5xs);
  color: var(--gray-500);
}
.input4,
.text16 {
  align-self: stretch;
}
.input4 {
  border-radius: var(--br-5xs);
  background-color: var(--shades-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-md-medium-size);
  color: var(--gray-900);
}
.text16 {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: none;
}
.input5,
.textarea-input-field,
.textarea-input-field-base {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.input5 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--shades-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-sm);
  font-size: var(--text-md-medium-size);
  color: var(--gray-500);
}
.textarea-input-field,
.textarea-input-field-base {
  flex-direction: column;
  align-items: flex-start;
}
.textarea-input-field-base {
  flex: 1;
  gap: var(--gap-7xs);
}
.textarea-input-field {
  height: 154px;
}
.checkbox-base {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--shades-white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox,
.form-fields {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.checkbox {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
  font-size: var(--text-md-medium-size);
  color: var(--gray-500);
}
.form-fields {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.button-base5,
.button5 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.button-base5 {
  flex: 1;
  background-color: var(--primary-400);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-400);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl);
}
.button5 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions {
  align-self: stretch;
  font-size: var(--text-md-medium-size);
  color: var(--shades-white);
}
.actions,
.content9,
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  gap: var(--gap-13xl);
  font-size: var(--text-sm-regular-size);
  color: var(--gray-700);
  font-family: var(--text-xl-regular);
}
.content9 {
  width: 480px;
  gap: 48px;
}
.content8,
.image-icon5 {
  width: 576px;
  height: 800px;
}
.content8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-icon5 {
  position: relative;
  border-radius: 12px;
  object-fit: cover;
}
.content-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.divider {
  align-self: stretch;
  position: relative;
  background-color: var(--primary-300);
  height: 1px;
}
.content13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container5 {
  width: 1280px;
  align-items: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.container5,
.footer,
.frame-parent,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  background-color: var(--primary-400);
  width: 100%;
  align-items: center;
  padding: 64px 0 48px;
  box-sizing: border-box;
  font-size: var(--text-md-medium-size);
  color: var(--primary-100);
  font-family: var(--text-xl-regular);
}
.frame-parent,
.frame-parent1 {
  align-items: flex-start;
}
.frame-parent1 {
  width: 100%;
  text-align: left;
  font-size: 36px;
  color: var(--gray-900);
  font-family: var(--font-gilroy);
}
.frame-parent {
  position: absolute;
  top: 754px;
  left: 0;
  text-align: center;
  color: var(--primary-400);
}
.desktop {
  position: relative;
  background-color: var(--shades-white);
  width: 100%;
  height: 4557px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-md-medium-size);
  color: var(--gray-500);
  font-family: var(--text-xl-regular);
}
